%div{"ng-repeat" => "category in categories"}
  %a.add-product{"data-target" => "#addProductModal", "data-toggle" => "modal", "href" => "#add-product", "data-category-id" => "{{category.id}}" }
    {{category.name}}
  %table.table
    %thead
      %tr
        %th product
        %th description
        %th price, €
    %tbody.list{"ng-model" => "category.products", "ui-sortable" => "sortableOptions"}
      %tr.item{"ng-repeat" => "product in category.products track by product.index"}
        %td
          {{product.name}}
        %td
          {{product.description}}
        %td
          {{product.price_cents/100}}


#addProductModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Add new product
      .modal-body
        Name
        %input#productName{:name => "productName", :type => "text", :value => ""}/
        %br
        Short description
        %input#productDescription{:name => "productDescription", :type => "text", :value => ""}/
        %br
        Price, €
        %input#productPrice{:name => "productPrice", :type => "number", :value => "", "step" => "0.1"}/
        %input#categoryId{:name => "categoryId", :type => "hidden", :value => ""}/
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary#add-product-button{"data-dismiss" => "modal", :type => "button"} Save